<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login for Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bg-dark">
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center text-white mb-4">Easy Uni Admin</h2>
            <div class="row">
                <div class="col-md-6 mx-auto">

                    <!-- form card login -->
                    <div class="card rounded-0">
                        <div class="card-header">
                            <center><h3 class="mb-0">Login</h3></center>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="admin/login" class="needs-validation">
                                <div class="form-group">
                                    <label for="uname1">Username</label>
                                    <input type="text" class="form-control form-control-lg" name="adminUsername" id="uname1" required>
                                    <div class="invalid-feedback">Username is not entered</div>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control form-control-lg rounded-0" name="adminPassword" id="pwd1" required>
                                    <div class="invalid-feedback">Enter your password too</div>
                                </div>
                                {% if error %}
                                <div class="alert alert-danger" role="alert">
                                    <p class="error">{{ error }}</p>
                                </div>
                                {% endif %}
                                <div class="container">
                                    <div class="row">
                                        <div class="custom-control custom-radio col-sm-4">
                                            <input type="radio" class="custom-control-input" value="uniAdminRadio" id="defaultUnchecked" name="adminRBtn">
                                            <label class="custom-control-label" for="defaultUnchecked">University Admin</label>
                                        </div>

                                        <!-- Default checked -->
                                        <div class="custom-control custom-radio col-sm-4">
                                            <input type="radio" class="custom-control-input" value="adminRadio" id="defaultChecked" name="adminRBtn" checked>
                                            <label class="custom-control-label" for="defaultChecked">EasyUni Admin</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="submit" class="btn btn-success btn-lg">Login</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div><!--/card-block-->
                    </div><!-- /form card login -->
                </div>
            </div><!--/row-->
        </div><!--/col-->
    </div><!--/row-->
</div><!--/container-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>