<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Record Programme</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
{% block content %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="./">EasyUni</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="recordProgramme">Record Programme<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="reviewApps">Review Applications<span class="sr-only"></span></a>
            </li>
        </ul>
        <a href="logoutAdmin"><input type="submit" class="btn btn-danger my-2 my-sm-0" name="logoutAdmin" value="Log out"></a>
    </div>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="jumbotron col-md-6">
            <center><h1 class="display-4">{{session.get('uniNameForAdmin')}}</h1></center>
            <h3 class="lead">Here will be description about the University</h3>
        </div>
        <div class="col-md-1"></div>
        <div class="jumbotron col-md-5">
            <center><h1 class="display-4">Welcome {{session.get('adminNameForAdmin')}}</h1></center>
            <h3 class="lead">Username: <b>{{session.get('adminUsernameForAdmin')}}</b></h3>
            <h3 class="lead">Email: <b>{{session.get('adminEmailForAdmin')}}</b></h3>
        </div>
    </div>
</div>
<!-- Button trigger modal -->
<center><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Record Programme</button></center>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Record Programme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="recordProgramme/addProgram">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Programme Name</label>
                        <input type="text" class="form-control" name="progName" required>
                    </div>
                    <div class="form-group">
                        <label>Programme Description</label>
                        <textarea class="form-control" rows="3" name="progDescription" required></textarea>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="date" name="closingDate" id="example-date-input" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Add Programme">
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
    {% for program in programs %}
        <div class="col-sm-4" style="margin-bottom: 3em;">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{program.programName}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{program.closingDate}}</h6>
                    <p class="card-text">{{program.programDescription}}</p>
                    <hr />
                    <p>Number of Applications: {{program.appsNum}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>