<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
{% if session['logged_in'] %}
 
You're logged in already!
 
{% else %}
 
<form action="/signup" method="POST">
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Sign up</h1>
</div>
<div class="login-form">

<div class="control-group">
<input type="email" class="login-field" value="" placeholder="Applicant's Email" name="email">
</div>
<div class="control-group">
<input type="text" class="login-field" value="" placeholder="Applicant's ID Type" name="idtype">
</div>
<div class="control-group">
<input type="number" class="login-field" value="" placeholder="Applicant's ID Number" name="idno">
</div>
<div class="control-group">
<input type="text" class="login-field" value="" placeholder="Applicant's Mobile Number" name="mobileno">
</div>
<div class="control-group">
<input type="date" id="data" class="login-field" placeholder="Applicant's Date of Birth" name="date_of_birth">
</div>
<input type="submit" value="Sign up" class="btn btn-primary btn-large btn-block">
 
</div>
</div>
</div>
</form>{% endif %}
{% endblock %}